#topReklam {
    background-color: rgb(218, 60, 32);
    height: 6.5rem;

}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;

    -webkit-box-shadow: 0px 9px 13px -1px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 9px 13px -1px rgba(0, 0, 0, 0.66);
}

#blackNav {
    background-color: #25333f;

    z-index: 100;
    overflow: visible;
}


#blackNav form {
    padding: .3rem 0;
    position: relative;
}

#blackNav form>div {
    display: flex;

}

#blackNav form input[type=text] {
    padding: .3rem;
    font-size: 17px;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;

    border: .1rem solid #00ACAA;
    background: #f1f1f1;
    display: inline-block;
    margin: 0;
    font-size: .8rem;
    outline: 0;
}

#blackNav form button {
    padding: .3rem .5rem;
    display: inline-block;
    border: .1px solid #00ACAA;

    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

    background: #00ACAA;
    color: white;
    font-size: .85rem;
    border: 0;
    border-left: none;
    cursor: pointer;
}

#blackNav .suggestions {
    background-color: white;
    position: absolute;
    top: 2.4rem;
    width: 30%;
    padding: .1rem 0;
    border-radius: .25rem;
    padding-bottom: .7rem;
    border: 2px solid gray;
    display: none;
    border-bottom: .7rem solid #00ACAA;

}

#blackNav .suggestions.active {
    display: block;
}


#blackNav .suggestions a {
    display: inline-block;
    padding: 0rem .3rem;
    width: 100%;
    transition: 0;
    font-weight: 400;
}

#blackNav .suggestions a:hover {
    background-color: rgb(223, 223, 223);
}


#mainNav {
    background-color: #496075;

    justify-content: space-between;
    align-items: center;

    position: relative;

}


#navClose,
#navClose i {
    /* cursor: pointer; */
    visibility: hidden;
    color: #DFDFDF;
}

#navOpen,
#navOpen i {
    cursor: pointer;
    color: #DFDFDF;
    display: none;
    position: absolute;
    right: 1.5rem;
    top: .3rem;

}

#navOpen:hover {
    background-color: #40505e;
}

#mainNav a {
    display: inline-block;
}

#mainNav a img {
    width: 8rem;
    padding: .4rem .4rem;
}



#mainNav .mainTabs a {
    border-radius: .25rem;
    padding: .4rem;
    color: #fff;
    font-family: 'Exo', sans-serif;

}

#mainNav .mainTabs a:hover {
    background-color: #40505e;

}

#mainNav .mainTabs a.postTab {
    background-color: #DFDFDF;
    color: #40505e;
}

#mainNav .mainTabs a.postTab:hover {
    background-color: #a3a1a1;
}

#indexContent {
    background-color: none;
}

#contentInner {
    background-color: #ffffff;

}


#contentInner .left,
#contentInner .right {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */


}


#contentInner .right {
    height: 100%;

}

#contentInner .left {
    background-color: #FFECCC;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

#contentInner .left .second {
    flex-shrink: 0;
}

#contentInner .left>div {
    margin-bottom: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;


}

#contentInner .left>.second {
    border-top: .4rem solid #E59C23;
    padding-top: 1rem;
}

#contentInner .left>div>* {
    margin-bottom: 0.5rem;
}

#contentInner .left h3 {
    text-align: center;
    font-weight: 500;
    width: 100%;
    font-family: 'Exo', sans-serif;
    color: #464646;

}

#contentInner .left ul {
    width: 100%;
}

#contentInner .left ul li a {
    font-size: 0.75rem;
    font-family: 'Exo', sans-serif;
    /* color: #464646; */
    padding: 0.4rem 0.5rem;
    width: 100%;
    display: inline-block;
    padding-right: 1rem;
    position: relative;
    /* width: 100%; */

}

#contentInner .left ul li a:hover {
    color: #25333F;
    background-color: #F6F7F7;
    padding-right: 0;
    padding-left: 1rem;
}

#contentInner .left ul li a::after {
    transition: 2s;
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #E59C23;
    top: 100%;
    left: 0;
}


#contentInner .left ul li a:hover::after {
    transition: .5s;

    width: 100%;
}

#contentInner .right h3 {
    color: #464646;
    text-align: center;
}

.icon {
    font-size: 2rem;

}


/* index footer hissesi */

footer {
    background-color: #182029;
    padding-top: 1rem;
    border-top: 1rem solid #212f3b;
    -webkit-box-shadow: 0px -6px 16px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px -6px 16px 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: relative;
}

footer h4 {
    color: #DFDFDF;
    font-family: 'Exo', sans-serif;
    font-size: 1.1rem;
}


footer li a {
    color: rgb(153, 153, 153);
    font-size: .9rem;
    display: inline-block;
    width: 100%;
    padding-right: 2rem;
}

footer li a:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #DFDFDF;
}

footer .first {
    padding-bottom: 1rem;
}

footer .second {
    text-align: center;
    background-color: black;
    color: #808080;
    padding: 1rem;
    font-family: 'Exo', sans-serif;

}


/* moreTopics */

#moreTopics {
    width: 100%;
    padding: 1rem 0;

}



#moreTopics a {
    /* display: inline-block; */
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: .25rem;
    padding: .4rem .2rem;
    cursor: pointer;
    transition: .1s;
    margin-bottom: .4rem;
}

#moreTopics a:hover {
    text-decoration: underline;
    background-color: #F6F7F7;
}

#moreTopics a span {
    display: inline-block;
}