#topReklam {
    background-color: goldenrod;
    height: 6.5rem;

}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

#blackNav {
    background-color: rgb(223, 223, 223);
    height: 2rem;
}

#mainNav {
    background-color: #496075;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 5px rgba(0, 0, 0, 0);

    justify-content: space-between;
    align-items: center;
}

#mainNav a {
    display: inline-block;
}

#mainNav a img {
    width: 8rem;
    padding: .4rem .4rem;
}

#mainNav .mainTabs {
    /* padding: .8rem; */

}

#mainNav .mainTabs a {
    border-radius: .25rem;
    padding: .4rem;
    color: #fff;
    font-family: 'Exo', sans-serif;

}

#mainNav .mainTabs a:hover {
    background-color: #40505e;

}

#mainNav .mainTabs a.postTab {
    background-color: #00D672;
}

#mainNav .mainTabs a.postTab:hover {
    background-color: #00a759;
}

#indexContent {
    background-color: none;
}

#contentInner {
    background-color: #ffffff;

}


#contentInner .left,
#contentInner .right {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#contentInner .right {
    padding-left: 0.8rem;
}

#contentInner .left {
    height: 50%;
    /* padding-right: .8rem; */
    background-color: #DFDFDF;

}

#contentInner .left>div {
    margin-bottom: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;


}

#contentInner .left>.second {
    /* background-color: #a5d2fd; */
    border-top: .4rem solid #00D672;
    padding-top: 1rem;
    /* height: 100%; */
}

#contentInner .left>div>* {
    margin-bottom: 0.5rem;
}

#contentInner .left h3 {
    text-align: center;
    font-weight: 500;
    width: 100%;
    font-family: 'Exo', sans-serif;
    color: #464646;

}

#contentInner .left ul {
    width: 100%;
}

#contentInner .left ul li a {
    font-size: 0.75rem;
    font-family: 'Exo', sans-serif;
    /* color: #464646; */
    padding: 0.4rem 0.5rem;
    width: 100%;
    display: inline-block;
    padding-right: 1rem;
    position: relative;
    /* width: 100%; */

}

#contentInner .left ul li a:hover {
    color: #0e8658;
    background-color: #F6F7F7;
    padding-right: 0;
    padding-left: 1rem;
}

#contentInner .left ul li a::after {
    transition: 2s;
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #00a759;
    top: 100%;
    left: 0;
}


#contentInner .left ul li a:hover::after {
    transition: .5s;

    width: 100%;
}

#contentInner .right h3 {
    color: #808080;
    text-align: center;
}

.icon {
    font-size: 2rem;

}