#topReklam {
    background-color: rgb(218, 60, 32);
    height: 6.5rem;

}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    overflow: hidden;
}

#blackNav {
    background-color: #25333f;

}


#blackNav form {
    padding: .3rem 0;
}

#blackNav form>div {
    display: flex;

}

#blackNav form input[type=text] {
    padding: .3rem;
    font-size: 17px;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;

    border: .1rem solid #00ACAA;
    background: #f1f1f1;
    display: inline-block;
    margin: 0;
    font-size: .8rem;
    outline: 0;
}

#blackNav form button {
    padding: .3rem .5rem;
    display: inline-block;
    border: .1px solid #00ACAA;

    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

    background: #00ACAA;
    color: white;
    font-size: .85rem;
    border: 0;
    border-left: none;
    cursor: pointer;
}

#mainNav {
    background-color: #496075;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 5px rgba(0, 0, 0, 0);
    justify-content: space-between;
    align-items: center;

    position: relative;

}


#navClose,
#navClose i {
    /* cursor: pointer; */
    visibility: hidden;
    color: #DFDFDF;
}

#navOpen,
#navOpen i {
    cursor: pointer;
    color: #DFDFDF;
    display: none;
    position: absolute;
    right: 1.5rem;
    top: .3rem;

}

#navOpen:hover {
    background-color: #40505e;
}

#mainNav a {
    display: inline-block;
}

#mainNav a img {
    width: 8rem;
    padding: .4rem .4rem;
}



#mainNav .mainTabs a {
    border-radius: .25rem;
    padding: .4rem;
    color: #fff;
    font-family: 'Exo', sans-serif;

}

#mainNav .mainTabs a:hover {
    background-color: #40505e;

}

#mainNav .mainTabs a.postTab {
    background-color: #DFDFDF;
    color: #40505e;
}

#mainNav .mainTabs a.postTab:hover {
    background-color: #a3a1a1;
}

#indexContent {
    background-color: none;
}

#contentInner {
    background-color: #ffffff;

}


#contentInner .left,
#contentInner .right {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#contentInner .right {
    padding-left: 0.8rem;
}

#contentInner .left {
    height: 50%;
    background-color: #FFECCC;

}

#contentInner .left>div {
    margin-bottom: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;


}

#contentInner .left>.second {
    border-top: .4rem solid #E59C23;
    padding-top: 1rem;
}

#contentInner .left>div>* {
    margin-bottom: 0.5rem;
}

#contentInner .left h3 {
    text-align: center;
    font-weight: 500;
    width: 100%;
    font-family: 'Exo', sans-serif;
    color: #464646;

}

#contentInner .left ul {
    width: 100%;
}

#contentInner .left ul li a {
    font-size: 0.75rem;
    font-family: 'Exo', sans-serif;
    /* color: #464646; */
    padding: 0.4rem 0.5rem;
    width: 100%;
    display: inline-block;
    padding-right: 1rem;
    position: relative;
    /* width: 100%; */

}

#contentInner .left ul li a:hover {
    color: #25333F;
    background-color: #F6F7F7;
    padding-right: 0;
    padding-left: 1rem;
}

#contentInner .left ul li a::after {
    transition: 2s;
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #E59C23;
    top: 100%;
    left: 0;
}


#contentInner .left ul li a:hover::after {
    transition: .5s;

    width: 100%;
}

#contentInner .right h3 {
    color: #808080;
    text-align: center;
}

.icon {
    font-size: 2rem;

}