#topReklam {
    background-color: goldenrod;
    height: 6.5rem;

}

nav {
    position: sticky;
    top: 0;
}

#blackNav {
    background-color: #262626;
    height: 2rem;
}

#mainNav {
    background-color: rgb(14, 134, 88);
    height: 3rem;
}


#indexContent {
    background-color: none;
}

#contentInner {
    background-color: white;

}


#contentInner .left,
#contentInner .right {
    padding-left: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#contentInner .left {
    /* height: calc(100vh - 6.5rem - 2rem - 3rem); */
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    height: 50%;
    padding-right: .8rem;
    background-color: rgb(140, 255, 211);

}

#contentInner .left>* {
    margin-bottom: 0.5rem;
}

#contentInner .left h3 {
    text-align: center;
    font-weight: 500;
    width: 100%;
    font-family: 'Exo', sans-serif;
    color:  #464646;
    
}


#contentInner .left ul li a {
    font-size: 0.75rem;
    font-family: 'Exo', sans-serif;
    /* color: #464646; */
    padding: 0.4rem 0.5rem;
    width: 100%;
    display: inline-block;
    padding-right: 1rem;
    position: relative;


}

#contentInner .left ul li a:hover {
    color: rgb(14, 134, 88);
    background-color: #F6F7F7;
    padding-right: 0;
    padding-left: 1rem;
}

#contentInner .left ul li a::after {
    transition: 2s;
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: rgb(14, 134, 88);
    top: 100%;
    left: 0;
}


#contentInner .left ul li a:hover::after {
    transition: .5s;

    width: 100%;
}

#contentInner .right h3 {
    color: grey;

}